.contact_me img {
  float: right;
  background-color: white;
  border-radius: 12em;
  margin-right: 1em;
  margin-top: 1em;
}

.contact_me {
  width: 80%;
  background-color: #464646;
  margin: auto;
  padding: 1rem;
}

.contact_me section {
  width: 80%;
  background-color: #e2e2dc;
}

.contact_me div {
  background-color: #e2e2dc;
  padding: 1rem;
}

.contact_methods {
  margin: 0em 1em 1em 1em;
  padding: 0.2em;
}

.contact_methods div {
  margin: 1em;
  padding: 2em;
  width: 40%;
  background-color: white;
}

footer {
  margin-top: 7em;
}
